@use "./globales/variables" as var;

//video debajo del Header

.videoSinAudio,
.videoSinAudio video,
.videoSinAudio video source {
    height: auto;
    width: 100%;
}

.videoSinAudio {
    padding: 0px;
}

//SECCION DETALLES DEL JUEGO


section.detallesJuego {
    padding: 30px 20px;
    background: var.$elden-ring-fondo;
    background-size: cover;
    background-attachment: fixed;


    ul {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: center;
        padding: 0;

        li {
            margin: 0 5px;

            span {
                color: #bf981b;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
    }

    iframe {
        width: 100%;
        height: 35vh;
        margin-top: 10px;
    }

    h2 {
        margin: 30px 0px 20px;
        text-align: center;
        font-size: 1.4rem;
    }

    p {
        text-align: justify;
        margin-bottom: 30px;
    }
}

/* clase referencia a Bruno Bucciaratti de JOJO por el sticky...*/

div.stickyFingers {
    top: 857px;
    right: 40px;
    float: right;
    width: auto;
    position: sticky;
    display: initial;
    z-index: 1;

    a.comprarSticky {
        text-align: center;
        color: #FFF;
        background-color: var.$color-primario;
        border-radius: 6px;
        padding: 4px;

        i {
            font-size: 32px;
        }
    }
}

/*Plataforma de Juego */

section.plataformaJuego {
    padding: 10px;
    overflow: hidden;

    .row:first-child {
        width: 100%;
    }

    h2 {
        padding: 2rem 0;
    }

    ul {
        flex-wrap: nowrap;
        justify-content: flex-start;
        display: flex;
        flex-direction: row;
        margin-left: -10px;
        overflow: scroll;
        width: 97vw;

        /* Hide scrollbar for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        & {
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
        }
    }

    ul li {
        border: 1px solid var.$color-primario;
        border-radius: 5%;
        text-align: center;
        padding: 0.5rem;
        background: var.$color-secundario;
        height: 60px;
        display: flex;

        a {
            padding: 10px;
            color: #fff;
            width: 150px;
        }
    }

    .scrollPagina {
        display: flex;
        flex-wrap: nowrap;
        overflow: scroll;
        justify-content: flex-start;
    }

    .card {
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: center;
        background: var.$elden-ring-fondo;
        margin-right: 15px;

        a {
            width: 100%;
            margin: 20px 0px;
            border: 1px solid #fff;
            background-color: var.$color-primario;
            font-weight: 800;
        }

        a:active,
        a:hover {
            border: 1px solid var.$color-primario;
            color: var.$color-primario;
            background-color: transparent;
        }

        h4 {
            color: var.$color-primario;
            font-size: 1.2rem;
            font-weight: 900;
            height: 50px;
            text-align: center;
        }
    }

}

/*Seccion Noticias*/


$noticias-background: url(../img/eldenLordSaturado.jpeg) no-repeat;

section.noticias {
    background: $noticias-background;
    background-size: cover;
    background-attachment: fixed;
    padding: 0px;

    h3 {
        text-transform: uppercase;
        font-size: 1.5rem;
        display: flex;
        align-items: baseline;
        justify-content: center;
        text-align: center;
    }

    p {
        text-align: justify;
    }

    img {
        width: 100%;
        height: auto;
        max-height: 200px;
        margin: 30px 0px;
    }

    a,
    button {
        width: 100%;
        margin: 20px 0px;
        border: 1px solid #fff;
        background-color: var.$color-primario;
        font-weight: 800;
    }

    a:active,
    a:hover,
    button:active,
    button:hover {
        border: 1px solid var.$color-primario;
        ;
        color: var.$color-primario;
        background-color: transparent;
    }
}

.fondoNegro {
    background:
        linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5));
    padding: 40px 20px;
}

.modal h5 {
    color: var.$color-primario;
}

.modal p {
    color: #000;
}