@use "./globales/variables" as var;

section.jefes {
    .accordion-body {
        background-color: #000;
        border-color: #fff;
        display: flex;
        flex-direction: column-reverse;

        img {
            width: 100%;
        }
        p{
            font-size: 20px;
            span{
                font-size: 2rem;
                font-family: var.$font-Elden;
                color: $color-primario;
            }
        }
    }

    button.accordion-button {
        color: #ffc107;
        background-color: #3c3930;
        font-family: var.$font-Elden;
        text-transform: uppercase;
    }
}


.accordion-item {
    border: none;
}