@use "./globales/variables" as var;

@media (min-width: var.$tablet) {

    /*Redes Sociales del Header*/
    header {
        ul.seccionRedes {
            position: absolute;
            display: flex;
            right: 60px;
            top: 40px;
            width: 150px;

            li.logoRed {
                flex: auto;
                font-size: 25px;
            }
        }

        /*Logo del Header */
        ul {
            li.logo {
                width: 120px;
                height: auto;
                padding: 10px;
                margin-left: 60px;

                a {
                    display: block;
                    text-align: center;
                    font-size: 0.8rem;
                    color: var.$color-primario;

                    img {
                        height: auto;
                        width: 85px;
                    }
                }
            }
        }

        /*Navbar */
        nav {
            ul {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                height: 5vh;
                border-top: 1px solid #ffc10736;
                border-bottom: 1px solid #ffc10736;
                width: 100%;

                li {
                    list-style: none;
                    display: flex;
                    width: 100%;

                    a {
                        width: 100%;
                        text-align: center;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        color: #ffffff;
                        border-left: 1px solid #ffc10736;
                        font-size: 0.8rem;
                        text-transform: uppercase;
                        height: auto;
                    }
                }

                li.active,
                li:hover {
                    a {
                        color: #ffc107;
                    }
                }

                li.active {
                    a {
                        background-color: #3c3930;
                    }
                }

                li.logoRed:hover {
                    a {
                        i {
                            color: #ffc107;
                        }
                    }
                }

                li:hover {
                    background-color: #3c3930;
                }
            }

            .navbar-collapse {
                height: 150px;
            }

        }


    }

    /* Detalles Juego Index */
    section.detallesJuego {
        p {
            text-align: justify;
            margin-bottom: 27px;
            font-size: 0.7rem;
        }
    }

    /* Noticias Index */

    section.noticias {
        h3 {
            height: 90px;
            font-size: 1rem;
        }

        .col-md-4 {
            p {
                height: 180px;
                font-size: 00.8rem;
            }
        }
    }

    /*Jefes */

    section.jefes {
        .accordion-body {
            flex-direction: row;
        }
    }

    /*Juegos Similares*/
    section.juegosSimilares {
        .row {
            .scrollPagina {
                display: flex;
                flex-wrap: nowrap;
                overflow: hidden;
                justify-content: space-between;
            }
        }
    }



    /*Cierra el Media query*/
}
