/*Font Importada*/
@font-face {
    font-family: "Mantinia";
    src: url("./fonts/mantiniaRegular.woff2");
}

/*Variables Globales */

$font-Elden: "Mantinia";
$font-general: "Open Sans";
$color-primario: #bf981b;
$color-secundario: #074845;
$background-contacto: url(../img/imgNoticia2.png) no-repeat;
$elden-ring-fondo: url(../img/eldenRingFondo.jpg) no-repeat;
$accordion-icon-color: #fff;
$accordion-icon-active-color: #bf981b;
$accordion-button-icon:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");


/*Media queries */
$tablet: 768px;
$desktop: 992px;